@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Josefin+Sans|Open+Sans');
body{
	background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-6wllgkzQ8Q4Fj1pcWyiSWFsQmNZExRfxeVBlKnJSMzlmLb0e);
}

.clear:after {
    content: '';
    clear: both;
    display: table;
}
#clear{
	clear:both;		
}

#hat1{
	color:#000000;
	\\background-color:#E4E7FD;
	border:1px solid #000000;
	font-family: 'Josefin Sans', sans-serif;
	padding:20px;
	text-align:center;
	float:left;
	width:580px;
	border-radius:20px;
	margin-top:50px;
	font-size:25px;
	
}

#hat2{
	color:#000000;
	\\background-color:#E4E7FD;
	border:1px solid #000000;
	font-family: 'Josefin Sans', sans-serif;
	width:580px;
	padding:20px;
	text-align:center;
	float:right;
	border-radius:20px;
	margin-top:50px;
	font-size:25px;
	
}

#text{
	font-family: 'Open Sans', sans-serif;	
	font-size:25px;
	color:#000000;
	border:1px solid #000000;
	border-radius:20px;
	width:130px;
	height:40px;
	text-align:center;
	margin-left:565px;
	margin-top:200px;
	
}

#post{
	margin: 0 auto;
	padding: 20px;
	text-align: center;
	max-width: 860px;
	height:150px;
	font-size: 20px;
	border: 1px solid black;
	cursor: pointer;
	trans\ition: 0.3s linear;
	margin-top:200px;
	border-radius:20px;
	
}




.contact{
	
	border:1px solid #000000;
	font-family: 'Indie Flower' ;	
	color:#FFFFFF;
	font-size:25px;
	
}

#pictuure{
	width:65px;	
	height:65px;	
	float:left;
	margin-left:30px;
}	

.text{
	font-family: 'Josefin Sans', sans-serif;	
	margin-left:110px;
	font-size: 30px;
	
}

#t1{
	margin-top:20px;
}

.picture2{
	width:50px;	
	height:70px;
	float:left;
	margin-right:5px;

	
}

.form{
	width:140px;	
	height:60px;
	padding:10px;
	border:1px solid #000000;
	text-align: center;
	border-radius:20px;
	float:left;
	margin:20px;
	margin-left:30px;
}

\\Dictionary

#search{
	float:right;
	margin-right:255px;
	margin-top:50px;
	width:90px;	
	height:30px;
}

#search2{
	border:1px solid #000000;
	border-radius:20px;
	width:1000px;	
	height:150px;
	margin-top:100px;
	margin-left:125px;
}

#a5{
	border-radius:20px;
	width:300px;	
	height:30px;
	margin-left:350px;
	margin-top:50px;
	float:left;
}

#explanation{
	border:1px solid #000000;
	border-radius:20px;
	margin-top:50px;
	text-align: center;
	padding-top:50px;
	font-family: 'Josefin Sans', sans-serif;	
	font-size:20px;
}
#explanation .searched-word {
	color: #0000cd;
}
#explanation .examples ol {
	display: inline-block;
	text-align: left;
	margin-top: 0;
}
.search2-wrapper {
    width: 750px;
    margin: 0 auto;
    padding: 10px 30px;
    border: 1px solid #000000;
    border-radius: 20px;
    margin-top: 20px
}
.search2-wrapper .search-inputs input {
    border-radius: 20px;
    width: 300px;
    height: 30px;
		margin-top:70px;
		outline: none;
		padding-left: 10px;
}
.search2-wrapper .search-inputs button {
    width: 90px;
    height: 30px;
}
.search2-wrapper .search-inputs {
	float: left;
	margin-right: 10px;
}
.search2-wrapper .alphabet {
	float: left;
	padding-left: 30px;
	width: 277px;
	text-align: center;
}
.search2-wrapper .alphabet button {
	padding: 5px 10px;
	margin-right: 10px;
	margin-bottom: 5px;
	width: 35px;
}

.list-words{
	-moz-column-gap: 20px;
	-webkit-column-count: 4;
	-webkit-column-gap: 20px;
	column-count: 4;
	column-gap: 20px;
}

.list-pagenator {
	padding: 0 50px;
	text-align: center;
}
.list-pagenator button.active {
	background: green;
}

.words{
	font-size:25px;
	list-style-type: none;
	margin-left:80px;
	
}

.show {
	display: block !important;
}
.hide {
	display: none !important;
}






